*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}
ul, .container{
  list-style-type: none;
  padding: 0px;
  border: 2px solid gray;

  display: grid;
  height: 500px;    

  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
} 
li:nth-child(1){
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
li:nth-child(2){
  grid-row: 1 / 4;
  grid-column: 2 / 4;
}
li:nth-child(3){
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}



li{
  background-color: beige;
  border: 2px solid black;
}
li:nth-child(2n){
  background-color: blueviolet;
}

